html {
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("img/tom-caillarec-pJYOtbxZ0MM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
}

.container > h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 3rem 0;
}

@media (min-width: 425px) {
    .container h1 {
        font-size: 3.5rem;
    }
}

@media (min-width: 768px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .container h1 {
        font-size: 4.5rem;
        margin-bottom: 5rem;
    }
}

.input-container {
    display: grid;
    width: 90%;
    margin: 0 auto;
}

.input-container input {
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0.8rem;
    border: 1px solid #000;
    border-radius: 0.3rem;
}

.input-container button {
    padding: 0.8rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
    border: 1px solid #000;
    border-radius: 0.3rem;
}

.input-container button:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: gray;
}

@media (min-width: 768px) { 
    .input-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 1rem;
    }

    .input-container input {
        margin: 0 auto 0 0;
        width: 95%;
        padding: 1rem 0 1rem 0.8rem;
    }

    .input-container button {
        width: 75%;
        margin: 0 0 0 auto;
        padding: 1rem 0;
    }
}

@media (min-width: 1024px) {
    .input-container input {
        width: 80%;
    }

    .input-container button {
        width: 40%;
    }
}

.weather-place {
    font-size: 2.1rem;
    width: 90%;
    margin: 2.5rem auto 2rem auto;
    text-align: center;
}

.weather-place span {
    font-size: 2.6rem;
}

.weather-info {
    display: grid;
    width: 90%;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 3rem auto 0 auto;
    border: #000 solid 1px;
    border-radius: 0.3rem;
    padding-left: 1.2rem;
}

@media (min-width: 768px) {
    .weather-info {
        width: 40%;
    }
}

.error-message {
    margin: 1rem auto 0 auto;
    color: darkred;
    text-align: center;
    font-size: 2rem;
}
